.nav__cont {
    position: fixed;
    width: 198px;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: #18253D;
    ;
    overflow: hidden;
    transition: width .3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
}




body {
    height: 96.5vh;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%), radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%), radial-gradient(circle at 50% 50%, #000000, #000000 100%);

    background-image: url("../image/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.submanu {
    color: black;
    margin-left: 10px;
    text-decoration: solid;
}

.Block {
    display: flex;
    margin-left: 35px;
    margin-top: 20px;
    filter: invert(1);
    padding: 10px;
}

.Block:hover {
    background-color: #c4b26f;
    border: solid 0px;
    border-radius: 5px 5px 5px 5px;
}

.heading {

    /* margin-top: 90px; */

}

.image {

    color: #ff94fb;
    margin-top: 25px;
}

img {
    color: #54a4ff;
    height: 80px;
}

.wrapper {
    background-color: #ff94fb;
    width: 100%;
    margin-top: 14px;
    border: solid 1px;
    border-radius: 30px;
    border-color: white;
}

.topbar {

    background-color: #261425;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    color: aliceblue;
    border: solid 1px;
    border-radius: 42px;
    padding: 10px;
    width: 97%;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

#gsearch {
    background-color: aqua;
    width: 577px;

    border-radius: 16px;
    border-color: white;
    border-width: 1px;
    height: 33px;
    background-color: transparent;
    color: aliceblue;
    padding-left: 44px;
    font-size: unset;
}

.top {

    width: 80%;
    margin: auto 223px;
    margin-top: 14px;
    opacity: 0.8;
}



.icn {
    position: absolute;
    margin-left: 12px;
    margin-top: 3px;
}

.icoess {
    width: 28%;
    margin: auto;
}

.icosec {
    display: flex;
    justify-content: space-evenly;
}

.container {

    width: 80%;
    margin: auto 223px;

    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.suncontainer {
    color: #ffffff;
}

.tempra {


    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsss {

    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    opacity: 0.7;

}

.sun {
    color: #ffcc00;
}

.karac {
    display: block;
    margin-top: 23px;
}

.hhh {
    margin-top: -25px;
}

.deve {
    margin-top: -15px;

}

.car1 {

    display: flex;
    justify-content: space-between;
    border-radius: 7px;

}

.car2 {
    background-color: #261425;
    width: 142px;
    padding: 10px;
    border: solid 1px;
    border-radius: 14px;
    margin-left: 15px;
}